Source: softpcspkr
Section: sound
Priority: optional
Maintainer: Thomas Kremer <softpcspkr@xorg.c-informatik.de>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.6
Homepage: https://github.com/tkremer/softpcspkr/
#Vcs-Git: git://anonscm.debian.org/collab-maint/softpcspkr.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/softpcspkr.git;a=summary

Package: softpcspkr
Architecture: all
Depends: alsa-utils, sftwrspkr-dkms, ${perl:Depends}, ${misc:Depends}
Description: software PC speaker daemon
 softpcspkr is a daemon that polls a sftwrspkr device to
 emulate PC speaker beeps. The replacement sound is fully
 configurable by a directory of wav files.
 Support for pitch and duration is however not yet implemented.

Package: sftwrspkr-dkms
Architecture: all
Depends: dkms, ${misc:Depends}
Suggests: softpcspkr
Description: dummy PC speaker device
 sftwrspkr is a kernel module that provides a dummy PC speaker
 event device for userspace daemons to poll. It adds the missing
 SYNC that real PC speaker event devices lack.

